
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: rgb(252, 165, 252);
    transform-origin: 0%;
  }
  
  .highlight-spoken {
    color: black !important;
    background-color: #ff6f00 !important;
    border-radius: 5px;
  }
  
  .highlight-sentence {
    color: #000000 !important;
    background-color: #ffe082 !important;
    border-radius: 5px;
  }